
<main class="container">
  <section class="card pending_items__card card-list">
    <div class="card__header">
      <a href="#"><h5 class="card__header__title">Problem 1</h5></a>
    </div>
    <div class="card__body">
        <div class="sub_card">
          <p class="sub_card__title">category</p>
        </div>
    </div>
  </section>
  <section class="card pending_items__card">
    <div class="card__header">
      <a href="#"><h5 class="card__header__title">Problem 1</h5></a>
    </div>
    <div class="card__body">
      <div class="sub_card">
        <p class="sub_card__title">category</p>
      </div>
    </div>
  </section>
  <section class="card pending_items__card">
    <div class="card__header">
      <a href="#"><h5 class="card__header__title">Problem 1</h5></a>
    </div>
    <div class="card__body">
      <div class="sub_card">
        <p class="sub_card__title">category</p>
      </div>
    </div>
  </section>
  <section class="card pending_items__card">
    <div class="card__header">
      <a href="#"><h5 class="card__header__title">Problem 1</h5></a>
    </div>
    <div class="card__body">
      <div class="sub_card">
        <p class="sub_card__title">category</p>
      </div>
    </div>
  </section><section class="card pending_items__card">
    <div class="card__header">
      <a href="#"><h5 class="card__header__title">Problem 1</h5></a>
    </div>
    <div class="card__body">
      <div class="sub_card">
        <p class="sub_card__title">category</p>
      </div>
    </div>
  </section>

</main>
