<main class="container">
  <table class="views-table cols-3" id="suggestion-table">
    <thead>
    <tr>
      <th class="views-align-center views-field views-field-title views-align-center" id="view-title-table-column"
          scope="col">Similar Question
      </th>
      <th class="views-align-center views-field views-field-title views-align-center" id="view-title-table-column"
          scope="col">Category
      </th>
    </tr>
    </thead>
    <tbody>
    {% for suggtion in suggtions %}
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title views-align-center">
        <a target="_blank" href="/node/{{ suggtion.nid }}" hreflang="en">{{ suggtion.title}} </a>
      </td>
      <td headers="view-body-table-column" class=""><p>{{ suggtion.category}}</p></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</main>
